<div class="app-shell">
 <app-tab-navigator [activeTab]="activeTab" [selectedMenuOption]="selectedMenuOption"
  [documentRefreshKey]="documentRefreshKey" [postscriptIssues]="postscriptIssues"
  (onTabChange)="onTabChange($event)"
  (onMenuOptionClick)="onMenuOptionClick($event)" (onRemoveSeparationData)="openRemoveConfirmation()">
 </app-tab-navigator>

 <div class="panel-build-stamp">{{panelBuildStamp}}</div>

 <app-confirm-dialog [isOpen]="showConfirmDialog" title="Remove Separation Data"
  message="Are you sure you want to remove all separation data from this document? This action cannot be undone."
  [errorMessage]="confirmError" confirmText="Remove" cancelText="Cancel" confirmVariant="danger"
  (confirm)="handleConfirmRemove()" (cancel)="handleCancelRemove()">
 </app-confirm-dialog>
</div>