@font-face {
	font-family: "icomoon";
	src: url("assets/fonts/icomoon.eot?mw7tif");
	src: url("assets/fonts/icomoon.eot?mw7tif#iefix") format("embedded-opentype"),
		url("assets/fonts/icomoon.ttf?mw7tif") format("truetype"),
		url("assets/fonts/icomoon.woff?mw7tif") format("woff"),
		url("assets/fonts/icomoon.woff2?mw7tif") format("woff2"),
		url("assets/fonts/icomoon.svg?mw7tif#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/material-icons/files/icons.woff2') format('woff2');
}

[class^=icon-],
[class*=" icon-"] {
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^=icon-].disabled:before,
[class*=" icon-"].disabled:before {
	color: #d6d6d6;
}

.icon-ellipsis:before {
	content: "\e970";
}

.icon-ellipsis {
	font-size: 16px !important;
}

.icon-colorIcon:before {
	content: "\e964";
	color: #c7c4e2;
}

.icon-cool:before {
	content: "\e965";
	color: #bee6ee;
}

.icon-flash:before {
	content: "\e966";
	color: #ed2224;
}

.icon-wb:before {
	content: "\e96f";
	color: #70cddd;
}

.icon-CHECH_NA:before {
	content: "\e96d";
}

.icon-CHECH_OFF_DK:before {
	content: "\e967";
}

.icon-CHECH_ON_DK:before {
	content: "\e968";
}

.icon-DISCLOSURE-TRIANGLE:before {
	content: "\e969";
}

.icon-POPUP-ARROW:before {
	content: "\e96a";
}

.icon-RADIO-CLICKED:before {
	content: "\e96b";
}

.icon-RADIO-UNCLICKED:before {
	content: "\e96c";
}

.icon-SelectionToGrid:before {
	content: "\e96e";
}

.icon-SELECT:before {
	content: "\e901";
}

.icon-VINTAGE:before {
	content: "\e902";
}

.icon-Add_1:before {
	content: "\e903";
}

.icon-Add:before {
	content: "\e904";
}

.icon-ADDLAYER:before {
	content: "\e905";
}

.icon-ARTBOARD:before {
	content: "\e906";
}

.icon-CatalogPage:before {
	content: "\e907";
}

.icon-Clipboard:before {
	content: "\e908";
}

.icon-Clock:before {
	content: "\e909";
}

.icon-ColorVar:before {
	content: "\e90a";
}

.icon-Copy:before {
	content: "\e90b";
}

.icon-CopyFile:before {
	content: "\e90c";
}

.icon-DeleteClose:before {
	content: "\e90d";
}

.icon-Download:before {
	content: "\e90e";
}

.icon-DRAG:before {
	content: "\e90f";
}

.icon-Duplicate:before {
	content: "\e910";
}

.icon-DuplicateObjectCursor:before {
	content: "\e911";
}

.icon-Edit:before {
	content: "\e912";
}

.icon-ExcelFileIcon:before {
	content: "\e913";
}

.icon-Export:before {
	content: "\e914";
}

.icon-ExportFile:before {
	content: "\e915";
}

.icon-ExportMulti:before {
	content: "\e916";
}

.icon-FAVORITE:before {
	content: "\e917";
}

.icon-FileeIndd:before {
	content: "\e918";
}

.icon-Files:before {
	content: "\e919";
}

.icon-FileXLS:before {
	content: "\e91a";
}

.icon-FOLDER:before {
	content: "\e91b";
}

.icon-FolderOk:before {
	content: "\e91c";
}

.icon-FolderX:before {
	content: "\e91d";
}

.icon-Grid1:before {
	content: "\e91e";
}

.icon-Help:before {
	content: "\e91f";
}

.icon-IcoinViewSmall:before {
	content: "\e920";
}

.icon-Info:before {
	content: "\e921";
}

.icon-L-League:before {
	content: "\e922";
}

.icon-LAYER:before {
	content: "\e923";
}

.icon-LEAGUE-NO:before {
	content: "\e924";
}

.icon-LEAGUE-YES:before {
	content: "\e925";
}

.icon-LINK:before {
	content: "\e926";
}

.icon-ListView:before {
	content: "\e927";
}

.icon-LogoVar:before {
	content: "\e928";
}

.icon-LogoVarEmb:before {
	content: "\e929";
}

.icon-Magnify-Down:before {
	content: "\e92a";
}

.icon-Magnify-Up:before {
	content: "\e92b";
}

.icon-MAIN-COLOR-ON:before {
	content: "\e92c";
}

.icon-Minus:before {
	content: "\e92d";
}

.icon-Octane5:before {
	content: "\e92e";
}

.icon-Options:before {
	content: "\e92f";
}

.icon-PageVar:before {
	content: "\e930";
}

.icon-Paintbrush:before {
	content: "\e931";
}

.icon-PaintRoller:before {
	content: "\e932";
}

.icon-PlaceObject:before {
	content: "\e933";
}

.icon-PlayFolder:before {
	content: "\e934";
}

.icon-RECTANGLE:before {
	content: "\e935";
}

.icon-Refresh_1:before {
	content: "\e936";
}

.icon-Refresh:before {
	content: "\e937";
}

.icon-RefreshOld:before {
	content: "\e938";
}

.icon-Retyro:before {
	content: "\e939";
}

.icon-RotateObject:before {
	content: "\e93a";
}

.icon-Run:before {
	content: "\e93b";
}

.icon-RunMulti:before {
	content: "\e93c";
}

.icon-Save:before {
	content: "\e93d";
}

.icon-Script:before {
	content: "\e93e";
}

.icon-Scroll-Hand:before {
	content: "\e93f";
}

.icon-Search:before {
	content: "\e940";
}

.icon-SEASON:before {
	content: "\e941";
}

.icon-SELECT_LOGONUMBER:before {
	content: "\e9e2";
}

.icon-SELECT_LOGOYEAR:before {
	content: "\e9e3";
}

.icon-SelectObject:before {
	content: "\e942";
}

.icon-Stopwatch:before {
	content: "\e943";
}

.icon-T-Team:before {
	content: "\e944";
}

.icon-Tag:before {
	content: "\e945";
}

.icon-Tee:before {
	content: "\e946";
}

.icon-TeeAdd:before {
	content: "\e947";
}

.icon-TeeCopy:before {
	content: "\e948";
}

.icon-TeeOk:before {
	content: "\e949";
}

.icon-TeeWithArrows:before {
	content: "\e94a";
}

.icon-TeeWithS:before {
	content: "\e94b";
}

.icon-TextVar:before {
	content: "\e94c";
}

.icon-TextWarp:before {
	content: "\e94d";
}

.icon-TmCollegeLicensors:before {
	content: "\e94e";
}

.icon-tmColors:before {
	content: "\e94f";
}

.icon-TmCorporateLicensors:before {
	content: "\e950";
}

.icon-TmEntertainmentLicensors:before {
	content: "\e951";
}

.icon-TmHome:before {
	content: "\e952";
}

.icon-TmLeagues:before {
	content: "\e953";
}

.icon-TmSettings2:before {
	content: "\e954";
}

.icon-TmSupport:before {
	content: "\e955";
}

.icon-TmSupport2:before {
	content: "\e956";
}

.icon-Trash:before {
	content: "\e957";
}

.icon-Unlink:before {
	content: "\e958";
}

.icon-Upload:before {
	content: "\e959";
}

.icon-VERSION-CLOSE:before {
	content: "\e95a";
}

.icon-VERSION-CREATE:before {
	content: "\e95b";
}

.icon-VERSION-DONE:before {
	content: "\e95c";
}

.icon-VERSIONSTATUS-DONE_1:before {
	content: "\e95d";
}

.icon-VERSIONSTATUS-DONE:before {
	content: "\e95e";
}

.icon-VERSIONSTATUS-NONE:before {
	content: "\e95f";
}

.icon-VERSIONSTATUS-OK:before {
	content: "\e960";
}

.icon-ViewLargeIcon:before {
	content: "\e961";
}

.icon-Warning_1:before {
	content: "\e962";
}

.icon-Watch:before {
	content: "\e963";
}

.icon-LEAP_ICON_BREAKOUT_DK-copy:before {
	content: "\e900";
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Adobe Clean', 'Roboto', sans-serif;
	background-color: #323232;
	color: #d6d6d6;
	font-size: 11px;
	margin: 0px;
	overflow: hidden;
}

body.dark {
	background-color: #323232;
	color: #d6d6d6;
}

#root,
app-root {
	height: 100vh;
	width: 100%;
	background-color: #323232;
	display: block;
}

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.fd-col {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.gap-3 {
	gap: 3px;
}

.gap-5 {
	gap: 5px;
}

.gap-7 {
	gap: 7px;
}

.gap-10 {
	gap: 10px;
}

.gap-15 {
	gap: 15px;
}

.m-5 {
	margin: 5px;
}

.mx-5 {
	margin-left: 5px;
	margin-right: 5px;
}

.my-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.mb-auto {
	margin-bottom: auto;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.mb-3 {
	margin-bottom: 3px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-7 {
	margin-bottom: 7px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-auto {
	margin-top: auto;
}

.mt-3 {
	margin-top: 3px;
}

.mt-5 {
	margin-top: 5px;
}

.mt-7 {
	margin-top: 7px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt--3 {
	margin-top: -3px;
}

.p-5 {
	padding: 5px;
}

.p-7 {
	padding: 7px;
}

.p-10 {
	padding: 10px;
}

.pb-5 {
	padding-bottom: 5px;
}

.pb-7 {
	padding-bottom: 7px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-7 {
	padding-left: 7px !important;
}

.pl-8 {
	padding-left: 8px !important;
}

.pl-10 {
	padding-left: 10px;
}

.pl-12 {
	padding-left: 12px;
}

.pl-14 {
	padding-left: 14px;
}

.pl-15 {
	padding-left: 15px;
}

.pr-5 {
	padding-right: 5px;
}

.pr-7 {
	padding-right: 7px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-12 {
	padding-right: 12px;
}

.pt-5 {
	padding-top: 5px;
}

.pt-7 {
	padding-top: 7px;
}

.pt-10 {
	padding-top: 10px;
}

.border-1 {
	border: 1px solid #525252;
}

.border-1Point5 {
	border: 1.5px solid #525252;
}

.border-2 {
	border: 2px solid #525252;
}

.br-3 {
	border-radius: 3px;
}

.br-5 {
	border-radius: 5px;
}

.br-10 {
	border-radius: 10px;
}

.border-top {
	border-top: 1px solid #525252;
}

.border-bottom {
	border-bottom: 1px solid #525252;
}

.border-left {
	border-left: 1px solid #525252;
}

.border-right {
	border-right: 1px solid #525252;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.font-9 {
	font-size: 9px;
}

.font-10 {
	font-size: 10px;
}

.font-11 {
	font-size: 11px;
}

.font-12 {
	font-size: 12px;
}

.font-13 {
	font-size: 13px;
}

.font-14 {
	font-size: 14px;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.flex-1 {
	flex: 1;
}

.min-w-32 {
	min-width: 32px;
}

.min-w-110 {
	min-width: 110px;
}

.min-w-130 {
	min-width: 130px;
}

.min-w-150 {
	min-width: 150px;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.lastItemAtBottom {
	display: flex;
	flex-direction: column;
	height: 100%;
}

ul {
	list-style: none;
}

::placeholder {
	font-style: italic;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.btn {
	border-color: #cdcdcd;
	border-style: solid;
	border-width: 1px;
	padding: 1px 20px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0);
	color: #d6d6d6;
	font-size: 11px;
	outline: 0;
}

.btn.square {
	border-radius: 0;
	border-color: #525252;
}

.btn:hover {
	background-color: #cdcdcd;
	color: #323232;
}

.btn.noHover:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #d6d6d6;
}

.btn.okBtn {
	border-width: 1.5px;
}

input[type=text] {
	background-color: #262626;
	border: 1px solid #3e3e3e;
	border-radius: 4px;
	outline: 0;
	padding: 1px 4px;
	color: #d6d6d6;
}

input[type=text]:focus {
	background-color: #fcfcfc;
	border: 1px solid #5e9eee;
	color: #2a2a2a;
}

input[type=text].smallInput {
	max-width: 40px;
}

input[type=text].smallerInput {
	max-width: 20px;
}

.settingsWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.settingsTabs {
	background-color: #3e3e3e;
	padding-left: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.settingsTabs>li {
	min-width: 48px;
	cursor: pointer;
	padding: 5px 12px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	position: relative;
	border-inline: 4px solid transparent;
	border-radius: 8px 8px 0 0 / 4px;
	white-space: nowrap;
}

.settingsTabs>li.active {
	background-color: #323232;
	-webkit-mask: radial-gradient(4px at 4px 0, transparent 98%, #000 101%) calc(-1 * 4px) 100% / 100% 4px repeat-x, conic-gradient(#000 0 0) padding-box;
	mask: radial-gradient(4px at 4px 0, transparent 98%, #000 101%) calc(-1 * 4px) 100% / 100% 4px repeat-x, conic-gradient(#000 0 0) padding-box;
}

.settingsTabs>li span[class*="icon"] {
	font-size: 20px;
}

.settingsTabs>li .tab-svg-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	color: #d6d6d6;
	flex-shrink: 0;
}

.settingsTabs>li .tab-svg-icon svg {
	width: 100%;
	height: 100%;
	display: block;
}

.settingsTabs>li .tab-title {
	display: inline-block;
	margin-left: 4px;
	font-size: 12px;
	color: #d6d6d6;
}

.settingsTabs>li .material-icons {
	font-size: 20px;
}

.settingsTabs>li .hoverTitle {
	position: absolute;
	top: 110%;
	min-width: 100px;
	left: 50%;
	transform: translateX(-50%);
	background: #222222;
	text-align: center;
	display: none;
	padding: 3px 5px 5px;
	border-radius: 4px;
	white-space: nowrap;
	z-index: 10;
}

.settingsTabs>li .hoverTitle:before {
	position: absolute;
	content: "";
	width: 0px;
	height: 0px;
	top: -50%;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-width: 0 8px 12px 8px;
	border-color: transparent transparent #222222 transparent;
}

.settingsTabs>li:not(.active):hover .hoverTitle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.settingsTabContent {
	padding: 10px;
	flex: 1;
	overflow-y: hidden;
}

.settingsTabContent .panelTitle {
	font-size: 12px;
	line-height: 1.8;
}

.settingsTabContent .panelTitle p {
	margin: 0;
	margin-bottom: 8px;
}

.settingsTabContent .innerTabContent {
	display: none;
}

.settingsTabContent .innerTabContent.show {
	display: block;
}

.settingsTabs>li span.material-icons {
	font-size: 20px;
	color: #d6d6d6;
}

.settingsTabs>li.active span.material-icons {
	color: #d6d6d6;
}

.submenuOpener {
	position: relative;
	cursor: pointer;
}

.submenuOpener .subMenu {
	z-index: 999;
	border: 0.2px solid #fcfcfc;
	position: absolute;
	width: 160px;
	background: #3e3e3e;
	border-radius: 10px;
	padding: 5px 10px 5px;
	right: 7px;
	display: none;
}

.submenuOpener .subMenu.show {
	display: block;
}

.submenuOpener .subMenu.drop-down {
	top: calc(100% + 6px);
	bottom: auto;
}

.submenuOpener .subMenu.drop-up {
	bottom: calc(100% + 6px);
	top: auto;
}

.submenuOpener .subMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.submenuOpener .subMenu li {
	margin-bottom: 5px;
	cursor: pointer;
	text-align: left;
	font-size: 12px;
}

.submenuOpener .subMenu li:hover {
	text-decoration: underline;
}

.exportFieldTable .submenuOpener .subMenu {
	width: 111px;
}

.dropDownWrap {
	position: relative;
	min-width: 104px;
}

.dropDownWrap .selectedValue {
	padding: 2px 5px;
	border: 1px solid #3e3e3e;
	width: 100%;
	display: block;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.dropDownWrap .dd {
	display: none;
	border: 1px solid #3e3e3e;
	border-top: 0;
	position: absolute;
	width: 100%;
	background: #323232;
	z-index: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}

.dropDownWrap .dd li {
	padding: 2px 5px;
	cursor: pointer;
}

.dropDownWrap .dd li:hover {
	background-color: #3e3e3e;
}

.dropDownWrap.opened .dd {
	z-index: 2;
	display: block;
	border-radius: 0 0 4px 4px;
}

.dropDownWrap.opened .selectedValue {
	border-radius: 5px 5px 0 0;
}

.dropDownWrap.opened .selectedValue>span.icon-POPUP-ARROW {
	transform: rotate(180deg);
}

.ai-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	font-family: inherit;
	font-size: 11px;
	font-weight: 400;
	line-height: 1;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.2s ease;
	outline: none;
	white-space: nowrap;
	user-select: none;
	text-align: center;
}

.ai-button:focus {
	outline: 2px solid #5e9eee;
	outline-offset: 2px;
}

.ai-button__icon {
	display: inline-flex;
	font-size: 12px;
}

.ai-button__text {
	display: inline-flex;
}

.ai-button--small {
	padding: 3px 10px;
	font-size: 11px;
	min-height: 20px;
}

.ai-button--medium {
	padding: 5px 14px;
	font-size: 11px;
	min-height: 24px;
}

.ai-button--large {
	padding: 7px 18px;
	font-size: 12px;
	min-height: 30px;
}

.ai-button--primary {
	background: #525252;
	color: #e8e8e8;
	border-color: #6a6a6a;
}

.ai-button--primary:hover:not(:disabled) {
	background: #5f5f5f;
	border-color: #7a7a7a;
}

.ai-button--primary:active:not(:disabled) {
	background: #464646;
	border-color: #5a5a5a;
	transform: translateY(1px);
}

.ai-button--secondary {
	background: transparent;
	color: #b8b8b8;
	border-color: #5a5a5a;
}

.ai-button--secondary:hover:not(:disabled) {
	background: #4a4a4a;
	border-color: #6a6a6a;
}

.ai-button--secondary:active:not(:disabled) {
	background: #3a3a3a;
	border-color: #7a7a7a;
	transform: translateY(1px);
}

.ai-button--disabled,
.ai-button:disabled {
	opacity: 0.4;
	cursor: not-allowed;
	pointer-events: none;
}

.ai-button--full-width {
	width: 100%;
	display: flex;
}

.ai-button-group {
	display: inline-flex;
	gap: 8px;
	align-items: center;
}

.ai-button-group--vertical {
	flex-direction: column;
	align-items: stretch;
}

.graphicsBox {
	padding: 5px;
	border: 1px solid;
	border-radius: 4px;
	margin-top: 5px;
}

.panelTitle {
	font-size: 12px;
	line-height: 1.8;
}

.panelTitle p {
	margin: 0;
	margin-bottom: 8px;
}

.thRow {
	padding: 4px 3px 4px 8px;
	border: 1px solid rgba(0, 0, 0, 0);
}

.thRow .col {
	width: 9%;
	margin-right: 8px;
}

.thRow .col span {
	font-size: 11px;
}

.thRow .col:last-child {
	margin-right: 0px;
	width: 5%;
}

.thRow .col.bigger {
	width: 37%;
}

.exportFieldTable {
	min-height: 175px;
}

.exportFieldTable .row {
	padding: 4px 3px 4px 8px;
	border-bottom: 1px solid #525252;
}

.exportFieldTable .row .col {
	width: 9%;
	margin-right: 8px;
}

.exportFieldTable .row .col span {
	font-size: 16px;
}

.exportFieldTable .row .col.bigger {
	width: 37%;
}

.exportFieldTable .row .col:last-child {
	margin-right: 0px;
	width: 5%;
}

.emptyCol {
	width: 5%;
}

.squareColorIcon {
	height: 9px;
	width: 9px;
	display: inline-block;
	border: 0.5px solid #d6d6d6;
	border-radius: 2px;
}

.fieldIcon {
	cursor: pointer;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	color: #d6d6d6;
}
