<div class="d-flex gap-5 align-center">
    <span *ngIf="label">{{label}}:</span>
    <div class="dropDownWrap" [class.opened]="isOpen" [class.disabled]="disabled" cdkOverlayOrigin #dropdownOrigin="cdkOverlayOrigin"
        (click)="handleToggle($event)">
        <span class="selectedValue">
            <span class="value">{{displayValue}}</span>
            <span class="icon-POPUP-ARROW"></span>
        </span>
    </div>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="dropdownOrigin" [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayPositions]="positions" [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'" (backdropClick)="onBackdropClick()">
    <ul class="dd overlay-dropdown-list" [style.width.px]="dropdownWidth">
        <li *ngFor="let item of items" (click)="handleItemClick(item, $event)" (mousedown)="$event.preventDefault()">
            {{item}}
        </li>
    </ul>
</ng-template>